@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }
    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
    .sidebar .nav>li.active-pro {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn {
    margin-bottom: 30px
}

.space-70 {
    height: 70px;
    display: block;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.tim-row {
    padding-top: 50px;
}

.tim-row h3 {
    margin-top: 0;
}


.prof-pic {
    
    
    background-color: #fff;
    margin-top: 32px;
    height: 245px;
    
    box-shadow: 0px 2px 8px 0px #ddd;
}
.pic_upload {
    display: inline-block;
    position: relative;
    background-color: rgba(0,0,0,.75);
    height: 40px;
    padding-top: 5px;
    opacity: 0;
    top: -40px;width: 100%;
}
.pic_upload a {
    color: #fff;
}
.pic_upload i {
    display: inline-block;
    width: 10%;
    font-size: 17px;
    vertical-align: middle;
    margin: 5px 0px 0px 20px;
}.pic_upload .upload_caption {
    display: inline-block;
    width: 70%;
    float: right;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
}
.prof-pic:hover .pic_upload {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 150ms ease;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -o-transition: all 150ms ease;
}
.menu_icons img {
    width: 30px !important;
    padding-right: 6px !important;
    margin-right: 10px!important;
    border-right: 1px solid #ccc;
}
ul.tray-nav li.active a {
    color: #666;
    background: #fbfbfb;
    transition: all 0.3s ease;
}


.tray-nav.tray-nav-border li a {
    font-size: 14px;
    padding: 12px 5px 12px 20px;
}

ul.tray-nav li a {
    width: 100%;
    padding: 11px 15px 11px 30px;
    color: #999;
    font-size: 13px;
    background: #f2f2f2;
    border-top: 1px solid #DDD;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.menu_icons img svg{
    fill: red;
}
