.flaticon-001-covered-food-tray-on-a-hand-of-hotel-room-service:before {
	content: "\e001";
}
.flaticon-002-stamp:before {
	content: "\e002";
}
.flaticon-003-delivery:before {
	content: "\e003";
}
.flaticon-004-home-page:before {
	content: "\e004";
}
.flaticon-005-prize-badge-with-star-and-ribbon:before {
	content: "\e005";
}
.flaticon-006-gps:before {
	content: "\e006";
}
.flaticon-007-loyalty:before {
	content: "\e007";
}
.flaticon-008-wallet-filled-money-tool:before {
	content: "\e008";
}
.flaticon-009-id-card:before {
	content: "\e009";
}
.flaticon-010-restaurant:before {
	content: "\e00a";
}
.flaticon-011-logout:before {
	content: "\e00b";
}
.flaticon-012-logout-1:before {
	content: "\e00c";
}
.flaticon-013-edit:before {
	content: "\e00d";
}
.flaticon-014-trash:before {
	content: "\e00e";
}
.flaticon-015-receipt:before {
	content: "\e00f";
}
.flaticon-017-plus:before {
	content: "\e010";
}
.flaticon-018-minus:before {
	content: "\e011";
}
